body
{
	background-color: black;
}

@font-face 
{
    font-family: "ALIEN";
    src: url('ALIEN.ttf');
}

@font-face 
{
    font-family: "NOZSTUDIO";
    src: url('NOZSTUDIO.ttf');
}

input
{
	text-align:center;
}

.center
{
	text-align:center;
}

.banner
{
	color:orange;
	font-family:NOZSTUDIO;
}

h1
{
	text-align:center;
	color:orange;
}

h2
{
	text-align:center;
	color:orange;
}

h3
{
	padding-left:30px;
	color:grey;
}

h4
{
	text-align:center;
	color:black;
}

.fullwidth
{
	width:100%;
}

.formborder
{
	border:solid orange 2px;
}

.deco
{
	margin: 8px 0px 0px 10px ;
}

.gauche
{
	float:left;
}

.white
{
	color:white;
}

.orange
{
	color:orange;
}

#tab
{
	width: 600px;
	height: 600px;
	position: relative;
	left: 58%;
	top: -200px;
	margin: -300px 0 0 -300px;
}

h6
{
	color:black;
	text-align:center;
	font-size:12;
}

