<div class="row">
	<h3>Galerie</h3>
</div>


<div class="container galerie">
    
    
    <form class="form-inline">
        <div class="form-group">
            <button id="video-gallery-button" type="button" class="btn btn-success btn-lg">
                <i class="glyphicon glyphicon-film"></i>
                Galerie Vidéos
            </button>
        </div>
        <div class="form-group">
            <button id="image-gallery-button" type="button" class="btn btn-primary btn-lg">
                <i class="glyphicon glyphicon-picture"></i>
                Galerie Photos
            </button>
        </div>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-success btn-lg">
            <i class="glyphicon glyphicon-leaf"></i>
            <input id="borderless-checkbox" type="checkbox"> Sans Bordure
          </label>
          <label class="btn btn-primary btn-lg">
            <i class="glyphicon glyphicon-fullscreen"></i>
            <input id="fullscreen-checkbox" type="checkbox"> Plein écran
          </label>
        </div>
    </form>
    <br>
    <!-- The container for the list of example images -->
    <div id="links">
		<a href="galerieboot/images/1.jpg" title="MTG FRAGERS" data-gallery>
			<img src="galerieboot/images/1m.jpg" alt="MTG FRAGERS">
		</a>
		<a href="galerieboot/images/2.jpg" title="MTG FRAGERS" data-gallery>
			<img src="galerieboot/images/2m.jpg" alt="MTG FRAGERS">
		</a>
		<a href="galerieboot/images/3.jpg" title="MTG FRAGERS" data-gallery>
			<img src="galerieboot/images/3m.jpg" alt="MTG FRAGERS">
		</a>
		<a href="galerieboot/images/4.jpg" title="MTG FRAGERS" data-gallery>
			<img src="galerieboot/images/4m.jpg" alt="MTG FRAGERS">
		</a>
		<a href="galerieboot/images/5.jpg" title="MTG FRAGERS" data-gallery>
			<img src="galerieboot/images/5m.jpg" alt="MTG FRAGERS">
		</a>
		<a href="galerieboot/images/6.jpg" title="MTG FRAGERS" data-gallery>
			<img src="galerieboot/images/6m.jpg" alt="MTG FRAGERS">
		</a>
		<a href="galerieboot/images/7.jpg" title="MTG FRAGERS" data-gallery>
			<img src="galerieboot/images/7m.jpg" alt="MTG FRAGERS">
		</a>
		<a href="galerieboot/images/8.jpg" title="MTG FRAGERS" data-gallery>
			<img src="galerieboot/images/8m.jpg" alt="MTG FRAGERS">
		</a>
		<a href="galerieboot/images/9.jpg" title="MTG FRAGERS" data-gallery>
			<img src="galerieboot/images/9m.jpg" alt="MTG FRAGERS">
		</a>
		<a href="galerieboot/images/10.jpg" title="MTG FRAGERS" data-gallery>
			<img src="galerieboot/images/10m.jpg" alt="MTG FRAGERS">
		</a>
		<a href="galerieboot/images/11.jpg" title="MTG FRAGERS" data-gallery>
			<img src="galerieboot/images/11m.jpg" alt="MTG FRAGERS">
		</a>
		<a href="galerieboot/images/12.jpg" title="MTG FRAGERS" data-gallery>
			<img src="galerieboot/images/12m.jpg" alt="MTG FRAGERS">
		</a>
		<a href="galerieboot/images/13.jpg" title="MTG FRAGERS" data-gallery>
			<img src="galerieboot/images/13m.jpg" alt="MTG FRAGERS">
		</a>
		<a href="galerieboot/images/14.jpg" title="MTG FRAGERS" data-gallery>
			<img src="galerieboot/images/14m.jpg" alt="MTG FRAGERS">
		</a>
		<a href="galerieboot/images/15.jpg" title="MTG FRAGERS" data-gallery>
			<img src="galerieboot/images/15m.jpg" alt="MTG FRAGERS">
		</a>
		<a href="galerieboot/images/16.jpg" title="MTG FRAGERS" data-gallery>
			<img src="galerieboot/images/16m.jpg" alt="MTG FRAGERS">
		</a>
		<a href="galerieboot/images/17.jpg" title="MTG FRAGERS" data-gallery>
			<img src="galerieboot/images/17m.jpg" alt="MTG FRAGERS">
		</a>
		<a href="galerieboot/images/18.jpg" title="MTG FRAGERS" data-gallery>
			<img src="galerieboot/images/18m.jpg" alt="MTG FRAGERS">
		</a>
		<a href="galerieboot/images/19.jpg" title="MTG FRAGERS" data-gallery>
			<img src="galerieboot/images/19m.jpg" alt="MTG FRAGERS">
		</a>
		<a href="galerieboot/images/20.jpg" title="MTG FRAGERS" data-gallery>
			<img src="galerieboot/images/20m.jpg" alt="MTG FRAGERS">
		</a>
	
	</div>
    <br>
</div>
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        
                    </button>
                    <button type="button" class="btn btn-primary next">
                        
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation and button states -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="js/bootstrap-image-gallery.js"></script>
<script src="js/demo.js"></script>
